div {
  margin: 4em auto;
  width: 40em;
  height: 20em;
  box-shadow: 1px 1px 30px lightgrey;
}
.日本 {
  shape-outside: circle(20% at 50%);
  clip-path: circle(20% at 50%);
  background-color: red;
  top: -0%;
  position: absolute;
}
.vive-la-france {
  background: linear-gradient(to right, red 34%, white 34% 66%, blue 66% 100%);
}
