div {
  margin: 4em auto;
  width: 40em;
  height: 20em;
  box-shadow: 1px 1px 30px lightgrey;
}
.日本 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.日本::before {
  content: " ";
  background-color: red;
  border-radius: 50%;
  height: 60%;
  width: 30%;
  mix-blend-mode: multiply;
  position: absolute;
}
.日本::after {
  background: linear-gradient(
    to right,
    grey 0%,
    transparent 10%,
    grey 40%,
    transparent 70%,
    grey 90%
  );
  height: 100%;
  content: " ";
  width: 100%;
  opacity: 30%;
}
.vive-la-france {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vive-la-france::before {
  content: " ";
  background-color: red;
  height: 100%;
  width: 33%;
}
.vive-la-france::after {
  content: " ";
  background-color: blue;
  height: 100%;
  width: 33%;
}
.f-ripples {
  background: linear-gradient(
    100deg,
    rgb(44, 0, 0) 0%,
    transparent 12%,
    grey 40%,
    white 56%,
    rgb(0, 0, 43) 100%
  );
  opacity: 30%;
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
}
